.productsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productsDiv > div {
  flex: 0 0 33.333333%;
}

li {
  list-style: none;
}

.button {
  width: 18rem;
  margin-left: 20px;
}


