.products {
  width: 80%;
  display: block;
  margin: auto;
}

.productsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productsDiv > div {
  flex: 0 0 33.333333%;
}

li {
  list-style: none;
}

.buttonProducts {
  width: 95%;
  margin-left: 8px;
}

.productsList {
  margin-bottom: 20px;
}

@media all and (min-width: 1000px) {
  .productsDiv {
    flex-direction: row;
  }
}